<nav id="nav-bar">
    <a class="hamburger" (click)="toggleLinks('externalLinks')">&#8801;</a>
    <ul id="externalLinks" class="nav">
        <li><a [href]="this.standingsUrl" target="_blank">Standings</a></li>
        <li><a [href]="this.rostersUrl" target="_blank">Rosters</a></li>
        <li><a [href]="this.scheduleUrl" target="_blank">Schedule</a></li>
        <li><a [href]="this.battleLogsUrl" target="_blank">Battle Logs</a></li>
    </ul>
    <br/>
    <a class="hamburger" (click)="toggleLinks('internalLinks')">&#8801;</a>
    <ul id="internalLinks" class="nav">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/how-it-works" routerLinkActive="active">How It Works</a></li>
        <li><a routerLink="/details" routerLinkActive="active">Character Details</a></li>
        <li><a routerLink="/patch-notes" routerLinkActive="active">Patch Notes</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<div class="footer">
    <span>Argent Battle Simulator is &copy; 2020 Craig Stewart</span><br/>
    <span>All characters and character images are &copy; their respective owners.</span><br/>
    <span>This software should be considered transformative under fair use and provided for free to all users.</span><br/>
    <a href="https://github.com/crstewart/argent-battle-simulator" target="_blank">Check it out on GitHub!</a>
</div>

