<nav id="nav-bar">
    <ul class="nav">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a [href]="this.standingsUrl" target="_blank">Standings</a></li>
        <li><a [href]="this.rostersUrl" target="_blank">Rosters</a></li>
        <li><a [href]="this.scheduleUrl" target="_blank">Schedule</a></li>
        <li><a [href]="this.battleLogsUrl" target="_blank">Battle Logs</a></li>
        <li><a routerLink="/details" routerLinkActive="active">Character Details</a></li>
        <li><a [href]="this.patchNotesUrl" target="_blank">Patch Notes</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>

