/* You can add global styles to this file, and also import other style files */
body {
    background: #DDEEFF;
    font-family: sans-serif;
}

h1.title {
    font-size: 50pt;
    text-align: center;
}
