.introduction {
    text-align: center;
    padding: 12px 12px;
}

.log {
    white-space: pre-wrap;
}

.simulator {
    background: #f6f6f6;
    border: 4px solid blue;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 12px auto;
    width: 80%;
    min-width: 400px;
}

.simulator-result {
    background: #f6f6f6;
    border: 4px solid blue;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 12px auto;
    width: 80%;
    min-width: 400px;
    text-align: center;
    font-family: "Courier New", monospace;
}

.simulator-result p {
    padding: 0 8px;
}

.download-link {
    display: inline-block;
    margin: 12px auto;
    background: green;
    text-decoration: none;
    color: white;
    padding: 6px 10px;
    font-family: sans-serif;
}

.download-link:hover {
    background: #00CC00;
}

@media screen and (max-width: 640px) {
    .simulator {
        width: 90%;
        min-width: 160px;
        max-width: 640px;
    }

    .simulator-result {
        width: 90%;
        min-width: 160px;
        max-width: 640px;
    }
}
