<div class="border">
    <h2 class="standings-header">Season 2 Standings</h2>
    <div *ngIf="shadowDivisionStandings.length > 0 || chaosDivisionStandings.length > 0">
        <table>
            <tr class="table-header">
                <td>Team Name</td>
                <td>W</td>
                <td>L</td>
                <td>D</td>
                <td>Win %</td>
                <td>GB</td>
            </tr>
            <tr class="table-header">
                <td colspan="6">Shadow Division</td>
            </tr>
            <tr *ngFor="let standings of shadowDivisionStandings">
                <td>{{standings.team}}</td>
                <td>{{standings.wins}}</td>
                <td>{{standings.losses}}</td>
                <td>{{standings.draws}}</td>
                <td>{{standings.winPercentage.toPrecision(3)}}</td>
                <td>{{(getShadowDivisionLeaderWinDifferential() - (standings.wins - standings.losses)) / 2.0}}</td>
            </tr>
            <tr class="table-header">
                <td colspan="6">Chaos Division</td>
            </tr>
            <tr *ngFor="let standings of chaosDivisionStandings">
                <td>{{standings.team}}</td>
                <td>{{standings.wins}}</td>
                <td>{{standings.losses}}</td>
                <td>{{standings.draws}}</td>
                <td>{{standings.winPercentage.toPrecision(3)}}</td>
                <td>{{(getChaosDivisionLeaderWinDifferential() - (standings.wins - standings.losses)) / 2.0}}</td>
            </tr>
        </table>
        <p>
            W: Total wins<br/>
            L: Total losses<br/>
            D: Total draws<br/>
            Win %: Wins divided by total matches<br/>
            GB: Games Behind the division leader<br/>
            ((Leader wins - Leader losses) - (Team wins - team losses)) / 2
        </p>
    </div>
</div>
