<div class="border">
    <h2 class="standings-header">Season 1 Standings</h2>
    <div *ngIf="powerDivisionStandings.length > 0 && mastersDivisionStandings.length > 0">
        <table>
            <tr class="table-header">
                <td>Team Name</td>
                <td>Wins</td>
                <td>Losses</td>
                <td>Draws</td>
                <td>Win Percentage</td>
                <td>Games Behind</td>
            </tr>
            <tr class="table-header">
                <td colspan="6">Power Division</td>
            </tr>
            <tr *ngFor="let standings of powerDivisionStandings">
                <td>{{standings.team}}</td>
                <td>{{standings.wins}}</td>
                <td>{{standings.losses}}</td>
                <td>{{standings.draws}}</td>
                <td>{{standings.winPercentage.toPrecision(3)}}</td>
                <td>{{(getPowerDivisionLeaderWinDifferential() - (standings.wins - standings.losses)) / 2.0}}</td>
            </tr>
            <tr class="table-header">
                <td colspan="6">Masters Division</td>
            </tr>
            <tr *ngFor="let standings of mastersDivisionStandings">
                <td>{{standings.team}}</td>
                <td>{{standings.wins}}</td>
                <td>{{standings.losses}}</td>
                <td>{{standings.draws}}</td>
                <td>{{standings.winPercentage.toPrecision(3)}}</td>
                <td>{{(getMastersDivisionLeaderWinDifferential() - (standings.wins - standings.losses)) / 2.0}}</td>
            </tr>
        </table>
    </div>
</div>
