<div class="border">
    <div class="patch-notes">
        <h2>Version 1.0.4</h2>
        <ul>
            <li>Fixed a bug in which some fighters might not be able to heal properly.</li>
        </ul>
        <h2>Version 1.0.3</h2>
        <ul>
            <li>Fixed a bug in which both fighters could advance onto the same space.</li>
            <li>Fixed a bug in which a fighter could advance after being hit by Scorpion's Spear.</li>
            <li>Fixed a bug in which a fighter could retreat after being hit by Dovahkiin's Unrelenting Force.</li>
        </ul>
        <h2>Version 1.0.2</h2>
        <ul>
            <li>
                Fixed a bug in which Bomberman’s Wind Bomb was the wrong element.
            </li>
        </ul>
        <h2>Version 1.0.1</h2>
        <ul>
            <li>
                Fixed a bug in which Shovel Knight’s X-Strike was named incorrectly.
            </li>
        </ul>
    </div>
</div>
